@font-face {
    font-family: '20dbRegular';
    src: url('../fonts/20db-webfont.eot');
    src: url('../fonts/20db-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/20db-webfont.woff') format('woff'),
         url('../fonts/20db-webfont.ttf') format('truetype'),
         url('../fonts/20db-webfont.svg#20dbRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SansationRegular';
    src: url('../fonts/Sansation_Regular-webfont.eot');
    src: url('../fonts/Sansation_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Regular-webfont.woff') format('woff'),
         url('../fonts/Sansation_Regular-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Regular-webfont.svg#SansationRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
background-color: #909191;
margin:0;
padding:0;
font-family:Arial, Arial, Helvetica, sans-serif;
}

.clear {
clear:both;
}

input,
textarea,
.rounded-corners{
border-radius: 7px;
-moz-border-radius: 7px;
-ms-border-radius: 7px;
-webkit-border-radius: 7px;
-khtml-border-radius: 7px;
}

#vertical-wrapper{
width:900px;
margin: 0 auto;
background-color:#7b7d7c;
}

#top-wrapper{
    position:relative;
    width: 100%;
    height: 500px;
    display:block;
    background-image:url(../images/background.jpg);
}

#logo{
border:none;
position:absolute;
top:5px;
left:362px;
z-index:10;
}

#logo img{
border:none;
}

#top-menu{
position:absolute;
top:160px;
width:100%;
}

#index{
border: solid 1px #7B7D7C;
padding:15px;
font: 15px/24px 'SansationRegular', Arial, sans-serif;
}

#index img{
float:left;
margin:0 20px 10px 0;
}

#index p{
margin: 0 0 20px 0;
}

#index,
#contact-info
{
font-family: 'SansationRegular';
}

.navigation-menu{
list-style-type:none;
padding:0;
position:absolute;
}

.navigation-menu li{
    float:left;
    font: 16px/25px '20dbRegular', Arial, sans-serif;
}


.navigation-menu li a{
    height:43px;
    width:111px;
    background-color:white;
    display:block;
    text-align:center;
    text-decoration:none;
    font-weight:normal;
    color:black;
    font-size:12px;
}

.navigation-menu li a:hover {
    background-color:#f4b3bf;
    color:white;
}

#navigation-left{
    left:10px;
}

#l1, #l2, #l4, #l5, #l6 {
line-height:43px;
}

#l3{
    line-height:14px;
    font: 7px/11px '20dbRegular', Arial, sans-serif;
    height:35px;
    padding-top:8px;
}

#navigation-right{
    right:10px;
}

#navigation-left li{
    margin:0 8px 0 0;
}

#navigation-right li{
    margin:0 0 0 8px;
}

#own-adds{
width:880px;
margin:10px;
height:260px;
display:block;
position:absolute;
bottom:0;
background-color:white;
z-index:0;
}

#content-wrapper{
    margin:10px;
    background-color:white;
    padding:20px;
}


#bottom-wrapper{
    font-size:10px;
    margin:10px 10px 0 10px;
    text-align:center;
height:43px;
position:relative;
}

#legal-info{
    position:absolute;
    top:3px;
    left:18px;
    padding:9px;
    background-color:white;
    text-decoration:none;
}

#facebook{
    position:absolute;
    top:0px;
    right:0px;
    padding:9px;
}

#catalog-description{
	padding:20px;
}

#flatpage-title,
#form-title,
#catalog-title{
	padding:5px 8px;
	margin:0 0 20px 0;
	background-color:#e9ddaf;
	display:inline-block;
	font-weight:lighter;
        font: 25px/33px '20dbRegular', Arial, sans-serif;
}

table{
	width:100%;
border:solid 1px #7B7D7C;
padding:20px;
}

.button{
text-align:center;
}

table th{
text-align:left;
width: 150px;
font-size:14px;
}

table textarea{
width:100%;
}

table input[type=text] {
	width:50%;
}

table ul{
list-style-type:none;
padding:0;
}

#contact-info{
	font-size:25px;
	margin:10px 0;
}

.navigation-menu li a,
.success,
.beige{
background-color:#e9ddaf;
}

#messages{
padding:0;
margin:10px 0px;
}

.success{
list-style-type:none;
}

.mark{
font-weight:bold;
font-size:26px;
}


#contact-profession,
#contact-name{
padding:0;
margin:0;
font-weight:lighter;
float:right;
clear:right;
}

.phone{
	font-weight:bold;
	display:block;
	margin:5px 0 ;
}

#email{
	text-align:center;
	font-size:30px;
}


#contact-name{
font-size:60px;
}

.markdown ul p{
margin:0;
padding:0;
}

.markdown ul{
list-style-position:inside;
}

.markdown li li{
position:relative;
left:10px;
}

.markdown > ul > li {
margin-bottom:10px;
}

