{%extends "base.html"%}
{% load thumbnail markup%}


{%block content%}
<div id="index" class="beige rounded-corners">

	{% thumbnail catalog.background.image "370x500" upscale=0 as im%}
	<img src="{{im.url}}" alt="{{catalog.background.name}}" style="{#margin:{{ im|margin:"370x500" }}#};float:left" class="rounded-corners"/>
	{% endthumbnail %}
	<div class="markdown">
	{{catalog.description|markdown}}
	</div>
</div>
<div class="clear"></div>
{%endblock%}
