{%extends "base.html"%}
{% load i18n %}

{% block extra_head %}
  {{ form.media }}
{% endblock %}

{% block content %}
    {% if messages %}
    <ul id="messages">
        {% for msg in messages %}<li class="{{ msg.tags }}">{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {%if not message%}
    <h1 id="form-title" class="rounded-corners">{% trans 'Contact Us' %}</h1>

    <h2 id="contact-name">Paul Kuligowski</h2>
    <h3 id="contact-profession">Tapissier - D&eacute;corateur</h3>

    <div id="contact-info">
	    <p id="timetable">
	    Vous re&ccedil;oit:<br/>
   	    uniquement sur rendez-vous du<br/>
    	    <span class="mark">lundi</span> au <span class="mark">samedi</span> de <span class="mark">8h00</span> &agrave; <span class="mark">19h00</span><br/>
	    </p>

	    <p id="address-phones">
		    <span class="address">157 rue Nationale - 72000 le Mans</span><br/>
		    <span class="phone">02 44 02 31 69</span>
		    <span class="phone">06 24 31 04 52</span>
    	   </p>
	   <div id="email">contact<span class="at-sign">({%trans 'At sign'%})</span>atelier-paulk.com</div>
	   <div id="email">paulk.tapissierdecorateur<span class="at-sign">({%trans 'At sign'%})</span>gmail.com</div>
    </div>

    <form action="{{ request.path }}" method="post" class="beige">
	    <table class="rounded-corners">
        {{ form.as_table }}
	<tr>
		<td colspan="2" class="button">
		<input type="submit" value="{% trans 'Send Your Message' %}"/>
		</td>
	</tr>
	</table>
	{% csrf_token %}
    </form>

    {%else%}
    <p> 
    <span class="message-title">{% trans 'Your Message' %}</span>:<br\> {{ message.to_txt|linebreaksbr }} 
    </p>

    {%endif%}

{% endblock %}
