{%extends "base.html"%}
{% load i18n %}

{% block extra_head %}
  {{ form.media }}
{% endblock %}

{% block content %}

    {% if messages %}
    <ul id="messages">
        {% for msg in messages %}<li class="{{ msg.tags }}">{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {%if not message%}
    <h2 id="form-title" class="rounded-corners">{% trans 'Quoting' %}</h2>

    <form action="{{ request.path }}" method="post" class="beige">
	    <table class="rounded-corners">
        {{ form.as_table }}
	<tr>
		<td colspan="2" class="button">
		<input type="submit" value="{% trans 'Send Your Quote' %}"/>
		</td>
	</tr>
		</table>
	{% csrf_token %}
    </form>

    {%else%}
    <p> 
    <span class="message-title">{% trans 'Your Message' %}</span>:<br/> {{ message.to_txt|linebreaksbr }} 
    </p>

    {%endif%}

{% endblock %}
