{% load static %}
{%load banner_tags%}
<!DOCTYPE html> 
<html lang="{%if lang%}{{lang}}{%else%}fr{%endif%}">
<head>
    <title>Paul .k | Tapissier | D&eacute;corateur | {%block title%}{%endblock%}</title>
    <meta property="og:type" content="product" />
    <meta property="fb:admins" content="100002646961822" />
    <meta property="og:url" content="{{current_path}}"/>
    <meta property="og:title" content="Paul K. | Tappisier |  D&eacute;corateur" />

    <link rel="shortcut icon" href="{{STATIC_URL}}/media/images/favicon.ico" />
    <link rel="stylesheet" href="{{STATIC_URL}}media/css/base.css" type="text/css" />
    <script type="text/javascript" src="{{STATIC_URL}}media/js/jquery.min.js"></script> 

    {%block extra_head%}
    {%endblock%}
</head>
<body>
    <div id="vertical-wrapper">

	<div id="top-wrapper">
	    <a id="logo" href="/"><img src="{{STATIC_URL}}media/images/logo.png" width="175px"></a>
	    <div id="top-menu">
		<ul id="navigation-left" class="navigation-menu">
			<li><a class="rounded-corners" href="{%url catalog 'atelier'%}" id="l1">ATELIER</a></li>
			<li><a class="rounded-corners" href="{%url catalog 'sieges'%}" id="l2">SI&Egrave;GES</a></li>
			<li><a class="rounded-corners" href="{%url catalog 'tissus-et-passementeries'%}" id="l3">TISSUS ET PASSEMENTERIES</a></li>
		</ul> 
		<ul id="navigation-right" class="navigation-menu">
		    	<li><a class="rounded-corners" href="{%url catalog 'creations'%}" id="l4">CREATIONS</a></li>
			<li><a class="rounded-corners" href="{%url quote-form%}" id="l5">DEVIS</a></li>
			<li><a class="rounded-corners" href="{%url contact-form%}" id="l6">CONTACT</a></li>
		</ul>
	    </div>
	    {%block adds%}
		<div id="own-adds" class="rounded-corners">
		{% banneradd %}
		</div>
	    {%endblock%}
	</div>

	<!-- Content -->
	<div id="content-wrapper" class="rounded-corners">
	    {%block content%}
	    {%endblock content%}
	</div>
	<!-- End Content -->

	<div id="bottom-wrapper">
	    <div>
		<p>Uniquement sur rendez-vous du lundi au samedi de 8h00 &agrave; 19h00</p>
		<p>©2011 - Paul.K  Tapissier D&egrave;corateur  -  SIREN : 532657244</p>
	    </div>
	    <a href="/info-legales/" class="rounded-corners" id="legal-info">INFO L&Eacute;GALES</a>
	    <div class="fb-like" id="facebook">
		<script src="http://connect.facebook.net/fr_FR/all.js#xfbml=1"></script>
		<fb:like href="{{request.META.HTTP_HOST}}{{current_path}}" layout="button_count" show_faces="false">
		</fb:like>
	    </div>
	</div>

    </div>
</body>
</html>
