{%extends "base.html"%}
{% load thumbnail markup%}

{%block title%}{{ flatpage.title }}{%endblock%}

{%block content%}
<div id="flat-page">
	<h1 id="flatpage-title" class="rounded-corners"> {{ flatpage.title }} </h1>

	<div class="markdown">
	{{ flatpage.content|markdown }}
	</div>
</div>
<div class="clear"></div>
{%endblock%}
