{%extends "base.html"%}
{% load thumbnail %}

{%block title%}{{catalog.name}}{%endblock%}

{%block extra_head%}
    <link rel="stylesheet" href="{{STATIC_URL}}css/carousel.css" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/carousel_atelier.css" type="text/css" />

    <script type="text/javascript" src="{{STATIC_URL}}js/carousel.js"></script> 
{%endblock%}

{%block content%}
<h1 id="catalog-title" class="rounded-corners">{{catalog.name|capfirst}}</h1>

<ul id="carousel" class="simple-carousel" data-to-scroll="1" data-displaying="1" data-autoslide="5">
	{%for image in images%}
			{% thumbnail image.image "800x380" crop="center" upsacale=0 as im%}
			<li><img src="{{im.url}}" alt="{{image.description}}"/></li>
			{% endthumbnail %}
	{%endfor%}
</ul>
{%endblock%}
