{%extends "base.html"%}
{% load thumbnail %}
{% load markup %}

{%block title%}{{catalog.name}}{%endblock%}

{%block extra_head%}
    <link rel="stylesheet" href="{{STATIC_URL}}css/carousel.css" type="text/css" />

    <script type="text/javascript" src="{{STATIC_URL}}js/carousel.js"></script> 
{%endblock%}

{%block content%}
<h1 id="catalog-title" class="rounded-corners">{{catalog.name|capfirst}}</h1>

<ul id="carousel" class="simple-carousel" data-to-scroll="5" data-displaying="5" data-mouse-fellow="true">
	{%for image in images%}
		{% thumbnail image.image "800x800" upscale=0 as im_big%}
			{% thumbnail im_big "128x128" crop="center" upsacale=0 as im%}
			<li data-group="{{image.group}}" ><a href="{{im_big.url}}" data-alt="{{image.description}}"><img src="{{im.url}}" alt="{{image.description}}"/></a></li>
			{% endthumbnail %}
		{% endthumbnail %}
	{%endfor%}
</ul>

<div id="catalog-description" class="markdown">
	{{catalog.description|markdown}}
</div>
{%endblock%}
